<% if (session.loggedIn) { %>
    <button type="submit" id="login" class="btn btn-primary disabled" disabled>Logged In</button>

    <% }else{ %>
        <button type="submit" id="login" class="btn btn-primary">Login</button>
        <%}%>