<% if (session.loggedIn) { %>
    <h2 class="alert-success">
        <%= message %>
    </h2>
    <h4>Currently logged in as:</h4>

    <ul>
        <li>Email:
            <%= session.userEmail %>
        </li>
        <li> Login State:
            <%= session.loggedIn %>
        </li>
    </ul>
    <% }else{ %>
        <h2 class="alert-primary"> Not authenicated. </h2>
        <%}%>